.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 6rem 6rem;
  min-height: 100vh;
  background-color: #f1f2f3;
}

.h2, .p, .iframe {
  padding: 0px 16px 16px 0px;
}

.h2 {
  font-size: 16pt;
  font-weight: 600;
}

.p {
  /* text-gray-600 */
  color: #718096; 
}
